@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;;
}
.container {
    width: 75%;
    max-width: 1440px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    
}
.nav-images{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-images h3{
    margin-left: 5px;
    font-size: 25px;
    color: #131318;
    font-weight: 800px;
}
.nav-images h3 span{
    color: #FF5400;
    font-size: 25px;
    font-weight: 800;
}
.nav-links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-links li{
    font-size: 15px;
    margin-left: 30px;
}
.nav-links li a{
    text-decoration: none;
    color:  #424247;
}

/* banner-content style start */
.banner-image {
    width: 75%;
    height: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.banner-content{
    margin: 10rem auto;
    text-align: center;
    color: aliceblue;
}
#banner-text{
    text-align: center;
    font-size: 45px;
    margin: 0 auto;
    font-weight: 800;
}
#banner-para{
    width: 505px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}


.banner-form{
    display: flex;
    justify-content: center;
    align-items: center;   
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.30);
    padding: 12px;
}
input, #time, #type, .btn-primary{
    width: 130px;
    height: 39px;
    border-radius: 8px;
    padding: 5px;
    border: none;
    
}

.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    margin-top: 1rem;
    border: none;
    color: #FFF;
    font-weight: 700;
}

/* main section star */
.popular-tours .section-content{
    margin-top: 70px;
    height: 420px;
}

.section-content .tours-plan{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.section-content .tours-discription{
    width: 90%;
    height: 30px;
    font-size: 13px;
    margin-bottom: 25px;
}

.section-content .tour-list{
    font-size: 13px;
    font-weight: 400;
    width: 90%;
    height: auto;
    margin: 20px 19px;
}
.section-content .tour-list li{
    line-height: 30px;
}

.section-picture img{
    margin-top: 70px;
    width: 520px;
    height: 420px;
}
.dest-hed{
    width: 100%;
    height: auto;
    margin: 10px auto;
}
.dest-hed .dest-1, .chose-quot{
    text-align: center;
    margin-bottom: 1.2rem;
    color: #131318;
    font-size: 30px;
    font-weight: 800;
}

.dest-hed .dest-para{
    width: 550px;
    margin-left: 23%;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}
.country-picture {
    width: 100%;
}

.flex-1{
    margin-bottom: 18px;
}

.flex-1,.flex-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.flex-3{
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.choose-content{
    width: 100%;
    height: auto;
    margin: 10px auto
}

.choose-content .chose-for-trip{
    width: 550px;
    margin-left: 24%;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.catagory-1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    gap: 18px;
}
.catagory-1 #box-1, #box-2{
    width: 435px;
    height: 213px;
    padding: 25px;
    border-radius: 13px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.catagory-1 #box-2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.catagory-2{
    align-items: center;
    justify-content: center;
    margin-left: 35%;
}
.catagory-2 .box-1{
    width: 435px;
    height: 213px;
    padding: 25px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.svg-1, .svg-2, .svg-3{
    width: 48px;
    height: 48px;
    margin-bottom: 18px;
}

.hotel, .services, .price {
    color: #131318;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}

.details{
    width: 365px;
    color: #5A5A5D;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.newsletter{
    width: 100%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.news-content{
    width:40%;
    height: 320px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 25px;
}

 .line-n{
    width: 290px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-bottom: 10px;
 }

 .newsletter-photo{
    position: relative;
 }
 .newsletter-photo .newsletter-1{
    width: 100%;
    height: 320px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
    
}

.discount{
    width: 240px;
    height: 90px;
    padding: 30px;
    margin-left: 20px;
    transform: rotate(-19.80deg);
    border-radius: 16px;
    background: #FF5400;
    color: #e5dddd;
    position: absolute;
    top: 55%;
    left: 40%;
}

.letter{
    color: #08080d;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
}

.letter-para{
    width: 280px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

#name{
    margin-bottom: 10px;
}

#name, #email, .fbtn{
    width: 295px;
    height: 40px;
}


/* footer part start */

footer{
    width: 100%;
    height: 390px;
    background: rgba(19, 19, 24, 0.05); 
}

.foot-1{
    width: 100%;
    height: auto;
}

.foot-img{
   width: 100%;
   margin-left: 40%;
   margin-top: 120px;
}

.foot-description{
    width: 700px;
    text-align: center;
    margin-left: 25%;
    color: #5A5A5D;
}
.foot-description img{
    margin-top: 10px;
}

.line{
    width: 700px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin-top: 0;
}

.foter-end{
    width: 50%;
    margin-bottom: 10px;
}



/* responsive for mobile */
@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        height: auto;
        flex-direction:column;
        margin-left: 0px;
    }
    .nav-links li{
        width: 50%;
        height: auto;
        flex-direction:column;
        margin-left:20px;
    }

    .banner-image{
        width: 100%;
        height: auto;
        background-position-x:center;
        background-position-y: center;
    }
    .banner-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .banner-form{
        flex-direction: column;
        margin-top: 5px;
        padding: 0 12px;
        margin: 0 25px;
        }

    input, #time, #type, .btn-primary{
        width: 350px;
        height: 100px;
        margin: 20px 0 0 0;
        } 
        
    .section-content{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .section-content{
        padding-left: 2.5rem;
    }

    .section-picture{
        width: auto;
        margin-top: 2.5rem;
        padding-left: 2.5rem;
    }

    .dest-hed .dest-para{
        width:50%;
        color: rgba(19, 19, 24, 0.60);
        text-align: center;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
    .flex-1{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    
    .flex-2{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .rect-6, .rect-7, .rect-9, .rect-10, .rect-11{
        width: 573px;
        height: 300px;
        border-radius: 5px;
    }

    .flex-3{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    .rect-10{
        padding: 2px;
        border-radius: 5px;
    }

    .choose-content .chose-for-trip{
        width: 50%;
        text-align: center;
        font-size: 14px;
        line-height: 15px;
        margin-right: 1rem;
    }
    .catagory-1{
        flex-direction: column;
        width: 100%;
    }

    .catagory-2{
        margin-left: 5rem;
    }
    .newsletter{
        flex-direction: column;
        width: 100%;
    }

    .news-content{
        width:80%;
        height: 100%;
        border-radius: 16px;
        border: 1px solid #FF5400;
        padding: 25px;
    }

    footer{
        flex-direction: column;
        width: 100%;
    }
    .foot-1{
        width: 50%;
        height: auto;
    }
    .foot-img{
        width: 100%;
        margin-left: 50%;
        margin-top: 70px;
     }

     .foot-description{
        width: 60%;
        text-align: center;
        margin-left:20%;
    }
    .line{
        width: 100%;
        height: 1px;
        background: rgba(19, 19, 24, 0.10);
        margin-top: 0;
    }

    .foter-end{
        margin-top: 20px;
    }
    }
   

