@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;;
}
.container {
    width: 75%;
    max-width: 1440px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    
}
.nav-images{
    width: 50%;
    display: flex;
    align-items: center;
}
.nav-images h3{
    margin-left: 5px;
    font-size: 25px;
    color: #131318;
    font-weight: 800px;
}
.nav-images h3 span{
    color: #FF5400;
    font-size: 25px;
    font-weight: 800;
}
.nav-links{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-links li{
    font-size: 15px;
    margin-left: 30px;
}
.nav-links li a{
    text-decoration: none;
    color:  #424247;
}

/* banner-content style start */
.banner-image {
    width: 75%;
    height: 100%;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.banner-content{
    margin: 10rem auto;
    text-align: center;
    color: aliceblue;
}
#banner-text{
    text-align: center;
    font-size: 45px;
    margin: 0 auto;
    font-weight: 800;
}
#banner-para{
    width: 505px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

input, #time, #type {
    width: 130px;
    height: 39px;
    border-radius: 8px;
    padding: 5px;
    border: none;
}

.btn-primary{
    width: 130px;
    height: 39px;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 1.2rem;
    border: none;
    color: #FFF;
    font-weight: 700;
}



/* responsive for mobile */
@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        height: auto;
        flex-direction:column;
        margin-left: 30px;
    }
    .nav-links li{
        width: 50%;
        height: auto;
        flex-direction:column;
        margin-left:20px;
    }

    .banner-image{
        width: 100%;
        background-position-y:center;
        background-position-x:center;
        height: auto;
    }
    .banner-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .banner-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding: 10px 200px; */

    }
    input, #time, #type, .btn-primary{
        width: 350px;
        height: 100px;
        padding: 10px 20px;
        margin: 20px 0 0 0;
    }
    
}
